body{
    font-family: "微軟正黑體", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

$maincolor: #049B00 !default;

// functional setting area
.bg-black{
    background: rgba(0,0,0,1);
}

// black and white gradient
.color_gradient_1{color: #ffffff;}
.color_gradient_2{color: #D9D9D9;}
.color_gradient_3{color: #BFBFBF;}
.color_gradient_4{color: #A6A6A6;}
.color_gradient_5{color: #8C8C8C;}
.color_gradient_6{color: #737373;}
.color_gradient_7{color: #595959;}
.color_gradient_8{color: #404040;}
.color_gradient_9{color: #262626;}
.color_gradient_10{color: #000000;}

.color_gradient_1:hover{color: #BFBFBF;}
.color_gradient_2:hover{color: #A6A6A6;}
.color_gradient_3:hover{color: #8C8C8C;}
.color_gradient_4:hover{color: #737373;}
.color_gradient_5:hover{color: #595959;}
.color_gradient_6:hover{color: #404040;}
.color_gradient_7:hover{color: #262626;}
.color_gradient_8:hover{color: #000000;}
.color_gradient_9:hover{color: #ffffff;}
.color_gradient_10:hover{color: #D9D9D9;}

// background black and white gradient
.bgcolor_gradient_1{background-color: #ffffff;}
.bgcolor_gradient_2{background-color: #D9D9D9;}
.bgcolor_gradient_3{background-color: #BFBFBF;}
.bgcolor_gradient_4{background-color: #A6A6A6;}
.bgcolor_gradient_5{background-color: #8C8C8C;}
.bgcolor_gradient_6{background-color: #737373;}
.bgcolor_gradient_7{background-color: #595959;}
.bgcolor_gradient_8{background-color: #404040;}
.bgcolor_gradient_9{background-color: #262626;}
.bgcolor_gradient_10{background-color: #000000;}

// btn black and white gradient
.btncolor_gradient_1{background-color:#ffffff; border-color:#ffffff; color: #fff;}
.btncolor_gradient_2{background-color:#D9D9D9; border-color:#D9D9D9; color: #fff;}
.btncolor_gradient_3{background-color:#BFBFBF; border-color:#BFBFBF; color: #fff;}
.btncolor_gradient_4{background-color:#A6A6A6; border-color:#A6A6A6; color: #fff;}
.btncolor_gradient_5{background-color:#8C8C8C; border-color:#8C8C8C; color: #fff;}
.btncolor_gradient_6{background-color:#737373; border-color:#737373; color: #fff;}
.btncolor_gradient_7{background-color:#595959; border-color:#595959; color: #fff;}
.btncolor_gradient_8{background-color:#404040; border-color:#404040; color: #fff;}
.btncolor_gradient_9{background-color:#262626; border-color:#262626; color: #fff;}
.btncolor_gradient_10{background-color:#000000; border-color:#000000; color: #fff;}

// btn black and white gradient hover
.btncolor_gradient_1:hover{background-color:#ffffff; border-color:#ffffff; color: #fff;}
.btncolor_gradient_2:hover{background-color:#D9D9D9; border-color:#D9D9D9; color: #fff;}
.btncolor_gradient_3:hover{background-color:#BFBFBF; border-color:#BFBFBF; color: #fff;}
.btncolor_gradient_4:hover{background-color:#A6A6A6; border-color:#A6A6A6; color: #fff;}
.btncolor_gradient_5:hover{background-color:#8C8C8C; border-color:#8C8C8C; color: #fff;}
.btncolor_gradient_6:hover{background-color:#737373; border-color:#737373; color: #fff;}
.btncolor_gradient_7:hover{background-color:#595959; border-color:#595959; color: #fff;}
.btncolor_gradient_8:hover{background-color:#404040; border-color:#404040; color: #fff;}
.btncolor_gradient_9:hover{background-color:#262626; border-color:#262626; color: #fff;}
.btncolor_gradient_10:hover{background-color:#000000; border-color:#000000; color: #fff;}


// link color
.linkmaincolor__green{
    color: $maincolor;
}

.linkmaincolor__green:hover{
    color: $maincolor;
}

// main color
.maincolor__green{
    color: $maincolor;
}

.mainbgcolor__green{
    background-color: $maincolor;
}

.maincolor__warningred{
    color: #852F30;
}

.mainbgcolor__warningred{
    background-color: #852F30;
}
