/node_modules
/public/hot
/public/storage
/public/css/app.css
/public/js/app.js
/public/js/vendor.js
/storage/*.key
/vendor
.env
.env.backup
/.idea
/.vscode
/.vagrant
/.phpintel
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.editorconfig
