@charset "UTF-8";

html{
  font-size: 16px;
}

/* 修正粗體 */
$font-family-base: "Noto Sans TC", "HelveticaNeue", "PingFangTC", "Microsoft JhengHei", "sans-serif";

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  font-weight: 500;
  font-family: $font-family-base;
}
