.menu{
  display: block;
  list-style: none;
  text-align: center;
  background-color: #222;
}

.menu-item{
  display: inline-block;
  font-size: 20px;
  padding: 12px 24px;
}

.menu-item:hover{
  background-color: #282828;
}

.menu-item>a.active{
  color: green;
  background-color: white;
}