.aside_wrap nav{
    background: url('/img/aside_bg.jpg');
    .nav-item{
        height: 75px;
        line-height: 75px;
    }
}

.aside_title{
    border: 1px solid #6c757d;
    border-radius: 14px;
    font-size: 14px;
    font-weight: 300;
    padding: 4px 12px;
}

.aside_padding_left{
    padding-left: 25%;
}

#sidebarMenu .nav-item{
    &.active{
        background: #8d7a69;
        .nav-link{
            color: #fff;
        }
        .icon{
            color: #fff;
        }
    }
}

.icon{
    color: #5f5f5f;
    vertical-align: baseline;
}

.nav-item-text{
    vertical-align: super;
    padding-left: 1rem;
}

// media query setting
@media (max-width: 767px) {
    #sidebarMenu{
        padding: 0;
    }
}
@media (min-width: 480px) {
}
@media (min-width: 768px) and (max-width: 979px) {
}
@media (min-width: 980px) {
}
@media (min-width: 1200px) {
}