.nav-bg{
    background: #858b79;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
}

.logo-img{
    max-height:44px;
}

.nav-search{
    border-radius: 19px;
}

// media query setting
@media (max-width: 767px) {
}
@media (min-width: 480px) {
}
@media (min-width: 768px) and (max-width: 979px) {
}
@media (min-width: 980px) {
}
@media (min-width: 1200px) {
}